.navbar-btn{
    margin-left:10px;
}

.panel-body{
    padding: 5px;
}

.list-group {
  padding-left: 0;
  margin-bottom: 5px;
}

table.dataTable tbody td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;
}

.popover-content {
    padding-top: 5px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
}


@media screen and (min-width: 768px) {
  .modal-dialog {
    left: auto;
    right: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}



.panel-body.swiper-swiped {
    padding: 0px;
    border: 0;
}

.panel.swiper-swiped {
    padding: 0px;
    border: 0;
}

.swiper-container {
  width:100%;
  height: 1000px;
}

.swiper-container.swiper-nested-sr {
  width:100%;
  height: 524px;
}

/*
.pagination-xs > li > a,
.pagination-xs > li > span {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
*/

/*from https://gist.github.com/n00b2pr0/6927440 --- NOT USED!!!!!!!!!!!!!*/

.panel-heading .pagination-panel, 
.panel-footer .pagination-panel {
    margin: -11px -16px; /* Based off default .panel-heading padding */
    
    > li {
        > a,
        > span {
            padding: 10px 18px; /* Based off default .panel-heading padding */
        }
    }
    
}
 
.panel-heading .pagination-panel {
    > li {
        &:last-child {
            > a,
            > span {
                border-bottom-right-radius: 0;
            }
        }
    }
}
 
.panel-footer .pagination-panel {
    > li {
        &:last-child {
            > a,
            > span {
                border-top-right-radius: 0;
            }
        }
    }
}


.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
